<h1>Update your Daily-Llama account!</h1>

<% form_options = {
    user: @user,
    form_action: user_url(@user),
    http_method: 'PATCH',
    button_text: 'Save changes!'
  } %>

<%= render "users/form", form_options %>
